footer{
    margin-top: 40px;
    padding: 30px 0px;
    background-color: #F1F1F1;
    line-height: 25px;
    h4{
        font-weight: bold;
    }
ul{
    li
    {
        list-style:circle;
        a{
            color: black;
        }
    }
}
}
#subfooter{
    padding: 10px;
    background-color: #444444;
    p{
        color: white;
    }
}
