footer
    .container
        .row
            .col-lg-3
                h4 ACCESSORIES
                p= lorem
                i(class='fa fa')
            .col-lg-2
                h4 MY ACCOUNT
                ul 
                    li 
                        a My Account
                    li 
                        a Order History
                    li 
                        a Wish List
                    li 
                        a Newsletter
            .col-lg-2
                h4 INFORMATION
                ul 
                    li 
                        a About Us
                    li 
                        a Delivery Information
                    li 
                        a Privacy Policy
                    li 
                        a Terms & Conditions
            .col-lg-2
                h4 EXTRAS
                ul 
                    li 
                        a Brands
                    li 
                        a Gift Vouchers
                    li 
                        a Afilites
                    li 
                        a Newsletter
            .col-lg-3
                h4 ABOUT US
                i(class='') 8901 Marmora Road,Glasgow DO4 89 GR , New York
                i(class='') (0123) 456789 
                i(class='') admin bootexpert.com
section(id='subfooter')
    .container
        p Copyright C 2015 
            span(class='pink') Bootexpert All right reserved
            img(src='Problema/assets/images/payment.png' class='text-right')
